conversation(display_name="Chiara")
  statement#default
  responses

  statements
    statement#default
      text.
        駅を救ってくれてありがとう! 霧のフクロウの最初の訪問先として提案させていただくと、<span class="highlight">Arcane Academy of API Arts</span>が数ティックの距離にあります。
        <br/><br/>
        APIの知識を深めることは、プロのソフトウェア開発者として当然のことであり、また、親愛なる友人であり指導者でもあるElizabeth Clay教授の下で勉強するチャンスでもあります。彼女によろしく伝えてくださいね。