conversation(display_name="Margaret")
  statement#default
  responses

  statements
    statement#default
      text.
        「さよなら」のことが大嫌いなので、代わりに「またね」と言いましょう。私は毎週の火曜日にTwitchでゲームしています。<a href="https://twitch.tv/twilioquest">たまには遊びに来ない</a>ね?

