conversation(display_name="Chiara")
  statement#default
  responses

  statements
    statement#default
      text.
        Amazing work saving the station! If I might suggest a first stop with 
        the Fog Owl, the <span class="highlight">Arcane Academy of API Arts</span> 
        is just a few ticks away.<br/><br/>
        Brushing up on your knowledge of APIs is a good idea as a professional 
        software developer, AND you'll have a chance to study under Professor 
        Elizabeth Clay, a dear friend and mentor. Give her my regards, won't 
        you?
