- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

mixin break_stuff
  response#break_stuff.
    Do you make a habit of breaking stuff?

mixin get_started
  if worldState.firstObjectiveHacked
    response#get_started.
      Looks like the hacking tool works as advertised. No more laser barrier.
  else if worldState.hackingToolAcquired
    response#get_started.
      Now that I have the hacking device, what should I do?
  else
    response#get_started.
      I understand you have a tool that might help me with the mission?

conversation(display_name="Margaret")
  case lastResponse
    when "break_stuff"
      statement#break_stuff
      responses
        response#no_harm.
          Hey, no harm, no foul, amirite?
        response#what_vcr.
          What's a VCR?

    when "what_vcr"
      statement#what_vcr
      responses
        +get_started

    when "no_harm"
      statement#extra_parts
      responses
        +get_started

    when "who_are_you"
      statement#margaret
      responses
        +break_stuff
        +get_started

    when "get_started"
      statement#get_started
      responses
        if worldState.firstObjectiveHacked
          response#understood.
            The hacking tool is going to be really useful, thank you! What's our next step?
        else
          response#how_hack.
            How do I use the hacking tool?
    
    when "how_hack"
      statement#how_hack
      responses
        response#understood.
          Find a thing to hack, complete a task, and reap the rewards. Got it.

    when "understood"
      statement#keep_moving
      responses
        response#who_are_you.
          Could you remind me who you are, and what you do here?

    default
      if !worldState.kevinCedricInitialGreeting
        - worldState.kevinCedricInitialGreeting = true;
        statement#default
        responses
          response#who_are_you.
            Sweet! Have we met yet?
          +get_started

      else
        statement#follow_up_greeting
        responses
          response#who_are_you.
            Could you remind me who you are, and what you do here?
          +get_started

  statements
    statement#default
      text.
        Ooh, ooh, Operator! Over here! I have something to show you.

    statement#follow_up_greeting
      text.
        Greetings, fellow human. May I offer wisdom or assistance?

    statement#how_hack
      text.
        Walk up to an object you think might be hackable, and press the 
        <span class="highlight">spacebar</span>. That should bring up the hacking 
        interface. The hacking interface will present you with some kind of 
        challenge - you might need to write code, answer some questions... stuff like that.
        <br/><br/>Complete the challenge as described, and SHAZAM! Whatever was
        locked before is locked no more.

    statement#get_started
      if worldState.firstObjectiveHacked
        text.
          You used the hacking tool to bring down that laser barrier! 
          Yaaaaaay! Go you!
      else if worldState.hackingToolAcquired
        text.
          Oh, you grabbed the hacking tool off the pedestal? That's great! 
          It's for you! For adventure!<br/><br/>
          You should try it out on the 
          <span class="highlight">terminal attached to those pesky lasers</span>
          over there.
      else 
        text.
          You better believe I do. It's that <span class="highlight">hacking tool 
          sitting on the pedestal over there</span>. With that little wonder, 
          you'll be able to break all kinds of things - in the name of justice 
          of course.<br/><br/> You can use the hacking tool to bypass locked doors, 
          open chests, and notably, to <span class="highlight">shut down laser barriers</span> 
          like the one in this room.
    
    statement#margaret
      text.
        <span class="highlight">Margaret Staples</span>, and very pleased to make 
        your acquaintance. I'm an experimental scientist in the TwilioQuest 
        program, and the inventor of the super-duper-handy hacking tool you'll 
        use on your adventures. <br/><br/> I have basically the best job ever - 
        I get to break things, and put them back together again, and no one 
        seems to mind!
    
    statement#break_stuff
      text.
        I wouldn't say it's a habit so much as a sacred calling. I lost track of 
        how many times as a kid I took apart our VCR and put it back together again.

    statement#what_vcr
      text.
        Unsure if I am being trolled, or am just legitimately super old.
  
    statement#extra_parts
      text.
        I usually had a few extra parts left over, but our VHS tapes of Ghostbusters 
        still seemed to work. So I guess it was fine?

    statement#keep_moving
      text.
        With your hackery complete, you'll want to head through the door to meet 
        <span class="highlight">Cedric and Kevin</span>. After that, I think you're off on your 
        big adventure aboard the Fog Owl. I'm so proud our little bird is about
        to leave the nest!

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
