- const STATE_KEY = 'com.twilioquest.owls_nest';
- const worldState = getState(STATE_KEY);

conversation(display_name="Ryan")
  case lastResponse
    when "you_okay"
      statement#you_okay
      responses

    default
      statement#thanks
      responses
        response#you_okay.
          !{getTranslatedString('owls_nest.ryanDefault.thanks_you_okay')}

  statements
    statement#you_okay
      text.
        !{getTranslatedString('owls_nest.ryanDefault.you_okay')}
    statement#thanks
      text.
        !{getTranslatedString('owls_nest.ryanDefault.thanks')}

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
